/* CSS Syntax:
ex- 
h1{
  font-size:40px;
  font-family:impact;
  color:red;
  background-color:white;
  text-align:center;
 } */

 /* 
 here the h1 is the selector in css , it is pointing to the html element we want to style
 font-size , font-family , color , background-color are all css property 
 : is used after a css property 
 and red white these are the values 
 after each assigning of css property and values we use a semicolon 
 
 
 and the whole decleration takes place in curly braces */

