/* 
How To Add CSS
When a browser reads a style sheet, it will format the HTML document according to the information in the style sheet. */

/* 
Three Ways to Insert CSS
There are three ways of inserting a style sheet:

External CSS
Internal CSS
Inline CSS */

/* 
External CSS
With an external style sheet, you can change the look of an entire website by changing just one file!

Each HTML page must include a reference to the external style sheet file inside the <link> element, inside the head section. */

/* 
<link rel="stylesheet" href="mystyle.css"> */

/* 
Note: Do not add a space between the property value (20) and the unit (px):
Incorrect (space): margin-left: 20 px;
Correct (no space): margin-left: 20px; */


/* 
Internal CSS
An internal style sheet may be used if one single HTML page has a unique style.

The internal style is defined inside the <style> element, inside the head section. */

/* 
<head>
<style>
body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
}
</style>
</head> */


/* 
Inline CSS
An inline style may be used to apply a unique style for a single element.

To use inline styles, add the style attribute to the relevant element. The style attribute can contain any CSS property. */

/* 
Example - 
<body>

<h1 style="color:blue;text-align:center;">This is a heading</h1>
<p style="color:red;">This is a paragraph.</p>

</body> */

/* 
Tip: An inline style loses many of the advantages of a style sheet (by mixing content with presentation). Use this method sparingly.

 */

 /* 
 Multiple Style Sheets
If some properties have been defined for the same selector (element) in different style sheets, the value from the last read style sheet will be used. 

 */
 /* 
 Example
If the internal style is defined after the link to the external style sheet, the <h1> elements will be "orange": */

/* 
Example
However, if the internal style is defined before the link to the external style sheet, the <h1> elements will be "navy": 

 */

 /* here the external style sheet has the h1 to be set as navy  */



 /* 
 Cascading Order
What style will be used when there is more than one style specified for an HTML element?

All the styles in a page will "cascade" into a new "virtual" style sheet by the following rules, where number one has the highest priority:

 */

 /* 
 Inline style (inside an HTML element)
External and internal style sheets (in the head section)
Browser default
So, an inline style has the highest priority, and will override external and internal styles and browser defaults.


 */
 